<h1><%= post.title %></h1>
<%= image_tag post.image.url(:thumb), class: 'instagram-upload' %></h1>
<p><%= post.content %></p>
<%= link_to 'Edit post', edit_post_path(post) %>
<%= link_to 'Delete post', post_path(post), method: :delete %>
<%= link_to 'Add a comment', new_post_comment_path(post) %>

<h2>Comments</h2>
<%= render post.comments %>

<%= post.tags.each do |tag| %>
     #<%= tags.name %>
     <% end %>
